# -- component name
name: nexus-operator
annotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
image:
   # -- EDP nexus-operator Docker image name. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/nexus-operator)
  repository: epamedp/nexus-operator
  # if not defined then .Chart.AppVersion is used
  # -- EDP nexus-operator Docker image tag. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/nexus-operator/tags)
  tag:
imagePullPolicy: "IfNotPresent"

resources:
  limits:
    memory: 192Mi
  requests:
    cpu: 50m
    memory: 64Mi
