name: nexus-operator
namespace: ""
platform: "openshift"
image:
  name: epamedp/nexus-operator
  version: v2.4.0

nexus:
  deploy: true
  name: "nexus"
  image: "sonatype/nexus3"
  version: "3.24.0"
  admins:
    - "stub_user_one@example.com"

edp:
  dnsWildCard: ""